[Unit]
Description=Timelapse service
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/PROJECT_NAME/timelapse/timelapse.py --configfile /etc/timelapse.conf
WorkingDirectory=/opt/PROJECT_NAME/timelapse/
Restart=always

[Install]
WantedBy=multi-user.target



