[Unit]
Description=Telegram bot
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/PROJECT_NAME/telegramBOT/telegramBOT.py --configfile /etc/telegramBOT.conf
Restart=always

[Install]
WantedBy=multi-user.target



