<h2>TelegramBOT status</h2>
{% if status.periodic %}
<table>
   <tr><th>Periodic-Action</th><th>Interval</th><th>Start</th><th>#Attempts</th><th>#Executions</th><th>Next</th><th>Subscribers</th><th>Clean Subscribers</th></tr>
   {% for prj in status.periodic %} 
   <tr>
    <td>{{prj.action}}</td>
    <td>{{prj.interval}}</td>
    <td>{{prj.start}}</td>
    <td>{{prj.nbrOfTimes}}</td>
    <td>{{prj.nbrOfTimesWithSubscribers}}</td>
    <td>{{prj.nextTime|datetime}}</td>  
    <td>{{prj.subscribers}}</td>
    <td><form action="{{ url_for('telegramBOT_gui_clean',name=prj.action) }}"> <input type="submit" value="CLEAN" />
    </form></td>
   </tr>
   {% endfor %}
</table>
{% else %}
Periodica actions are not configured. Review configuration and restart telegramBOT service
{% endif %}
{% if status.event %}
<table>
   <tr><th>Event</th><th>Associated-Action</th><th>#Attempts</th><th>#Executions#Executions</th><th>Subscribers</th><th>Clean Subscribers</th></tr>
   {% for prj in status.event %} 
   <tr>
    <td>{{prj.name}}</td>
    <td>{{prj.action}}</td>
    <td>{{prj.nbrOfTimes}}</td>
    <td>{{prj.nbrOfTimesWithSubscribers}}</td>
    <td>{{prj.subscribers}}</td>
    <td><form action="{{ url_for('telegramBOT_gui_clean',name=prj.action) }}"> <input type="submit" value="CLEAN" />
    </form></td>
   </tr>
   {% endfor %}
</table>
{% else %}
Events are not configured. Review configuration and restart telegramBOT service
{% endif %}

