[submodule "arduino/FastLed"]
	path = arduino/FastLed
	url = https://github.com/FastLED/FastLED.git
[submodule "arduino/SimpleTimer"]
	path = arduino/SimpleTimer
	url = https://github.com/julianes10/SimpleTimer.git
[submodule "arduino/Ultrasonic"]
	path = arduino/Ultrasonic
	url = https://github.com/ErickSimoes/Ultrasonic.git
[submodule "arduino/Low-Power"]
	path = arduino/Low-Power
	url = https://github.com/rocketscream/Low-Power.git
[submodule "arduino/Adafruit_Sensor"]
	path = arduino/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor.git
[submodule "arduino/u8glib"]
	path = arduino/u8glib
	url = https://github.com/olikraus/u8glib.git
[submodule "arduino/Adafruit_SSD1306"]
	path = arduino/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "arduino/DHT-sensor-library"]
	path = arduino/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "arduino/Scheduler"]
	path = arduino/Scheduler
	url = https://github.com/arduino-libraries/Scheduler.git
[submodule "arduino/arduino"]
	path = arduino/arduino
	url = https://github.com/jazzycamel/arduino.git
[submodule "arduino/Arduino-MedianFilter"]
	path = arduino/Arduino-MedianFilter
	url = https://github.com/luisllamasbinaburo/Arduino-MedianFilter.git
[submodule "arduino/NonBlockingRTTTL"]
	path = arduino/NonBlockingRTTTL
	url = https://github.com/julianes10/NonBlockingRTTTL.git
[submodule "arduino/RTClib"]
	path = arduino/RTClib
	url = https://github.com/adafruit/RTClib.git
[submodule "arduino/Adafruit-GFX-Library"]
	path = arduino/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "arduino/Adafruit_BusIO"]
	path = arduino/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "arduino/ArduinoCore-avr"]
	path = arduino/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr.git
[submodule "arduino/U8g2_Arduino"]
	path = arduino/U8g2_Arduino
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "arduino/arduino-DHT"]
	path = arduino/arduino-DHT
	url = https://github.com/julianes10/arduino-DHT.git
