HOST2MONITOR=www.google.com
INTERVAL=40
RETRYTIMES=5
RETRYINTERVAL=30
ONFAILURECOMMAND=logger "halo halo"
#FAVORITESSID=/etc/wpa_supplicant/wpa_supplicant.conf
FAVORITESSID=etc/supplicant.example
IFACE=wlan0

