{
  "log": { "logTraces":"/tmp/kodiAgent.log",
           "logExceptions":"/tmp/kodiAgente.log"
  },
  "kodi" : {"url":"http://pi32:8080/jsonrpc"},
  "auto-tracker": { 
      "enable":true,
      "addon": {
          "magic-url":"fulanita" },
      "what":"/tmp/kodiTracker",
      "polling-interval":2
  }
}
