<!doctype html>
<html>
    <head>
      <title>PICAM Web Interface</title>
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
      <script src="{{url_for('static', filename='tabsmgt.js')}}"></script>
      <script src="{{url_for('static', filename='picam.js')}}"></script>
    </head>
{% if display.tab %}
<body onload='openTab(event, "{{ display.tab }}")'>
{% else %}
<body onload="openTab(event, 'Live')">
{% endif %}
<div class="container">
  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Live')" >Live</button>
    <button class="tablinks" onclick="openTab(event, 'PanTilt')">Pan Tilt Control</button>
    <button class="tablinks" onclick="openTab(event, 'Status')">Status</button>
  </div>

<!-- Tab content -->
  <div id="Live" class="tabcontent">
    {% include "live.html" %}
  </div>

  <div id="PanTilt" class="tabcontent">
    {% include "pantilt.html" %}
  </div>

  <div id="Status" class="tabcontent">
    {% include "status.html" %}
  </div>

</div>
</body>
</html>

