<div>
  <button onclick="reload()">REFRESH</button>&nbsp;&nbsp;
  <br>
{% if st.status.live.enable %}
  {% if st.status.live.active %}
    <img src="../mjpgstreamer/?action=stream"/>
    <br>
    <button onclick="ajax_set_live(false)">STOP LIVE STREAMING</button>
  {% else %}
    Streaming is available but not started
    <br>
    <button onclick="ajax_set_live(true)">START LIVE STREAMING</button>&nbsp;&nbsp;
  {% endif %}
{% else %}
  Streaming is not enabled. Review picam configuration
{% endif %}
</div>
