<table class="cellCenter">
   <tr>
    <td></td>
    <td>UP<br>
        <button id="buttonX10" onclick="ajax_delta_position('tilt',-10)">x10</button>
        <button id="buttonX5" onclick="ajax_delta_position('tilt',-5)">x5</button>
        <button id="buttonX1" onclick="ajax_delta_position('tilt',-1)">x1</button>
    </td>
    <td></td>
   </tr><tr>
    <td>LEFT<br>
        <button id="buttonX10" onclick="ajax_delta_position('pan',10)">x10</button><br>
        <button id="buttonX5" onclick="ajax_delta_position('pan',5)">x5</button><br>
        <button id="buttonX1" onclick="ajax_delta_position('pan',1)">x1</button>
    </td>
    <td>
{% if st.status.live.enable %}
  {% if st.status.live.active %}
    <img id="mediumsizeimg" src="../mjpgstreamer/?action=stream"/>
  {% else %}
    Streaming is not started. Go to live menu to activate
  {% endif %}
{% else %}
  Streaming is not enabled. Review picam configuration
{% endif %}
    </td>
    <td>RIGHT<br>
        <button id="buttonX10" onclick="ajax_delta_position('pan',-10)">x10</button><br>
        <button id="buttonX5" onclick="ajax_delta_position('pan',-5)">x5</button><br>
        <button id="buttonX1" onclick="ajax_delta_position('pan',-1)">x1</button>
    </td>
   </tr><tr>
    <td></td>
    <td>
        <button id="buttonX10" onclick="ajax_delta_position('tilt',10)">x10</button>
        <button id="buttonX5" onclick="ajax_delta_position('tilt',5)">x5</button>
        <button id="buttonX1" onclick="ajax_delta_position('tilt',1)">x1</button><br>
        DOWN
    </td>
    <td></td>
   </tr>
</table>
<br>

<table>
   <tr><td>Absolute positions</td></tr>
   <tr><td><button onclick="ajax_set_full_position(0,0)">EXTREME POSITION 1</button></td></tr>
   <tr><td><button onclick="ajax_set_full_position(180,90)">EXTREME POSITION 2</button></td></tr>
   <tr><td><button onclick="ajax_set_full_position(90,45)">CENTER</button></td></tr>
</table>

<table>
   <tr><td>Ask for a track</td></tr>
   <tr><td><button onclick="ajax_request_track(true,0,180,45,45,15,true,5)">TrackNO</button></td></tr>
   <tr><td><button onclick="ajax_request_track(true,90,90,0,90,15,true,2)">TrackYES</button></td></tr>
</table>

<div id=position>
</div>

