#Dependencies description on top of raspbian 8 jessie no-desktop version with noobs:

# Basic tools
--------------
sudo apt-get install vim
sudo apt-get install git
sudo apt-get install screen
sudo apt-get install python-pip python-dev build-essential




# ga stuff dependencies for gaIpaDispatcher:
## MainSourcehttps://developers.google.com/assistant/sdk/develop/python/run-sample
-----------------------------------------------------------------------------------
sudo apt-get update
sudo apt-get install python3-dev python3-venv
python3 -m venv env
env/bin/python -m pip install --upgrade pip setuptools
source env/bin/activate
python -m pip install --upgrade google-assistant-library

pip install flask
  
## GET YOUR CREDENTIALS FOR A SPECIFIC DEVICE
https://developers.google.com/assistant/sdk/guides/library/python/embed/install-sample
Go to your project, in google cloud plaform https://console.cloud.google.com
Select a project and go to APIs and services, creentials: .ej: https://console.cloud.google.com/apis/credentials?project=testgasdk-180808
Create new one client secrets and donwload it
Generate locally final request in console:
#google-oauthlib-tool --client-secrets <client_secret_DONWLOADED.json>  --scope  https://www.googleapis.com/auth/assistant-sdk-prototype --save --headless
This ask to google to generate credentials, follow the link in a browser, copy "key" and paste in command line again. 
>>credentials saved: $HOME/.config/google-oauthlib-tool/credentials.json
Other info google credentials in etc:
# Check if needed https://developers.google.com/assistant/sdk/develop/python/config-dev-project-and-account
Run e.g: python ./gaIpaDispatcher.py --configfile etc/ipaem.conf.example --credentials $HOME/.config/google-oauthlib-tool/credentials.json

#Arduino deps
## To debug and develop really
sudo apt-get install minicom 
sudo apt-get install arduino-mk 

#TTC 
sudo apt-get install libttspico-utils

 

