[Unit]
Description=systemStatus service
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/PROJECT_NAME/systemStatus/systemStatus.py --configfile /etc/systemStatus.conf
WorkingDirectory=/opt/PROJECT_NAME/systemStatus/
Restart=always

[Install]
WantedBy=multi-user.target



