[Unit]
Description=Web streaming agent
After=multi-user.target
Wants = network-online.target

[Service]
User = pi
Group = pi
Type=simple
ExecStart=/opt/PROJECT_NAME/SERVICE_NAME/webStreamingAgent.py --configfile /etc/SERVICE_NAME.conf
WorkingDirectory=/opt/PROJECT_NAME/SERVICE_NAME/
Restart=always

[Install]
WantedBy=multi-user.target



