[Unit]
Description=Wildcard service launcher
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/PROJECT_NAME/wildcardService/wildcardService.py --configfile /etc/wildcardService.conf
Restart=always

[Install]
WantedBy=multi-user.target



