[Unit]
Description=Wildcard service launcher
After=multi-user.target

[Service]
Type=simple
ExecStart=/opt/PROJECT_NAME/SERVICE_NAME/wildcardService.py --configfile /etc/SERVICE_NAME.conf
Restart=always

[Install]
WantedBy=multi-user.target



